<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}shokz{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-select/bootstrap-select.min.css">

    <link rel="stylesheet" type="text/css" href="/styles/products.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
    <div id="wrap">
        <div class="container">
            <header>
                <div class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a id="home" class="navbar-brand" href="#">shokz</a>
                    </div>
                </div>
            </header>
            <article>
                {% block content %}
                    <p>Forgot to add content?</p>
                {% endblock %}
            </article>
        </div>
        <div id="push"></div>
    </div>
    <div id="footer">
        <div class="container">
            <p class="muted credit">
                © <a href="https://github.com/jroliveira/shokz" rel="author">2j </a>2015.
	            <span class="pull-right">v 1.0</span>
            </p>
        </div>
    </div>
</body>
</html>
