{% extends 'layout.html' %}

{% block title %}showcase{% endblock %}

{% block content %}
    <div class="row">
        {% if products.length === 0 %}
            <div class="col-md-12 text-center">
                <h3>
                    <span class="text-warning" style="word-spacing: 5px;">
                        <span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;no result found...
                    </span>
                </h3>
            </div>
        {% endif %}
        
        {% for product in products %}
            <div class="col-md-3 product-box">
                <div class="product-title">
                    <a href="/product/{{ product.title }}">{{ product.name }}</a>
                </div>
                <a href="/product/{{ product.title }}">
                    <img src="{{ product.img }}" class="img-responsive" alt="{{ product.name }}">
                </a>
                <div class="product-description">{{ product.description|truncate(130) }}</div>
                <div class="product-price">
                    <div class="pull-right">
                        <a href="/product/{{ product.title }}" class="btn btn-danger btn-sm" role="button">BUY</a>
                    </div>
                    <div class="price-text">$ {{ product.price }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}