{% extends 'layout.html' %}

{% block title %}showcase{% endblock %}

{% block content %}
    {% for product in products %}
        <div class="col-md-3 product-box">
            <div class="product-title">{{ product.name }}</div>
            <img src="{{ product.img }}" class="img-responsive" alt="{{ product.name }}">
            <div class="product-description">{{ product.description|truncate(130) }}</div>
            <div class="product-price">
                <div class="pull-right">
                    <a href="/{{ product.id }}" class="btn btn-danger btn-sm" role="button">BUY</a>
                </div>
                <div class="price-text">$ {{ product.price }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}