{% extends 'layout.html' %}

{% block title %}detail{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.img }}" class="img-responsive" alt="{{ product.name }}">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 detail-title">
                    {{ product.name }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 detail-price">
                    <a href="#" class="btn btn-warning btn-lg btn-block" role="button">$ {{ product.price }} BUY</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 detail-description">
                    {{ product.description }}
                </div>
            </div>            
        </div>
    </div>    
{% endblock %}